# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Projeto
.env
data/*.db
data/*.csv
data/*.parquet
logs/*.log
logs/*.json

# Playwright
playwright/.cache/

# OS
.DS_Store
Thumbs.db

#Imagens
*.png
*.jpg
*.jpeg
*.gif


#Html
*.html

#Sheets
*.csv